:host nb-layout-header /deep/ a {
    font-size: 2rem;
    text-decoration: none;
  }


  
  /* :host nb-layout-column {
    height: 50vw;
  } */
  :host nb-layout-header /deep/ nav {
    justify-content: space-between;
  }
  /* :host nb-layout-column {
    height: 50vw;
  }
  :host nb-layout-column:first-child {
    background: #f4f4f7;
  } */
  /* .left {
    display: flex;
    width: 100%;
    order: 0;
    flex-direction: row;
  }
  .right {
    order: 1;
    flex-direction: row-reverse;
  } */