<div class="row">
  <div class="col mt-3">
    <h3>Course Management</h3>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      Courses available, choose the course you want!(for student)/All courses(for admin)
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 my-3">
    <div class="list-group">
      <a
        *ngFor="let course of allCourses"
        class="list-group-item list-group-item-action"
        (click)="onSelectCourse(course)"
        [class.list-group-item-warning]="isCurrentCourse(course)"
        [class.list-group-item-primary]="isSelectedCourse(course)"
      >
        {{ course.title }}
      </a>
    </div>
  </div>
  <div class="col-md-8 my-3">
    <div class="card" *ngIf="!isCollapsed">
      <div class="card-header">
        Description
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ selectedCourse.title }}</h5>
        <p *ngIf="hasCourse()">(This is your current course)</p>
        <p class="card-text">{{ selectedCourse.description }}</p>
        <button class="btn btn-primary" *ngIf="!hasCourse() && !isAdmin()" (click)="onSaveCourse()">Choose and Save</button>
        <button class="btn btn-warning" *ngIf="isAdmin()" (click)="onEdit()">Edit</button>
      </div>
    </div>
  </div>
</div>
