<div class="bg">
  <!-- <div class="fixed-top"> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top trans">
      <a
        class="navbar-brand"
        routerLinkActive="active"
        routerLink="/lms/dashboard"
        >Learning Management System</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto" routerLinkActive="active">
          <a class="nav-item nav-link" routerLink="dashboard">Dashboard</a>

          <div dropdown class="navbar-nav" container="body">
            <a
              class="nav-link dropdown-toggle"
              href
              id="basic-link"
              dropdownToggle
              (click)="(false)"
              aria-controls="basic-link-dropdown"
              >Manage <span class="caret"></span
            ></a>
            <ul
              id="basic-link-dropdown"
              *dropdownMenu
              class="dropdown-menu"
              role="menu"
              aria-labelledby="basic-link"
            >
              <li *ngFor="let choice of manageItems" routerLinkActive="active">
                <a class="dropdown-item" [routerLink]="[choice]">{{
                  choice
                }}</a>
              </li>
              <li class="divider dropdown-divider"></li>
              <li
                *ngFor="let choice of manageItemsAfterDivider"
                routerLinkActive="active"
              >
                <a class="dropdown-item" [routerLink]="[choice]">{{
                  choice
                }}</a>
              </li>
            </ul>
          </div>
        </div>

        <div dropdown class="navbar-nav" container="body">
          <a
            class="nav-link dropdown-toggle"
            href
            id="basic-link"
            dropdownToggle
            (click)="(false)"
            aria-controls="basic-link-dropdown"
            >Somebody <span class="caret"></span
          ></a>
          <ul
            id="basic-link-dropdown"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="basic-link"
          >
            <li *ngFor="let choice of userItems" routerLinkActive="active">
              <a class="dropdown-item" [routerLink]="[choice]">{{ choice }}</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li
              *ngFor="let choice of userItemsAfterDivider"
              routerLinkActive="active"
            >
              <a class="dropdown-item" [routerLink]="[choice]">{{ choice }}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
  <!-- </div> -->
  
    <div class="pt-5">
      <div class="container bg-light rounded trans mt-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  
</div>
