<form #lessonEditForm="ngForm" (ngSubmit)="onSaveLesson()" *ngIf="!loading">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="form-group">
        <label for="title">Title:</label>
        <input
          type="text"
          id="title"
          class="form-control"
          name="title"
          [(ngModel)]="title"
          required
          #titleText="ngModel"
        />
        <div *ngIf="lessonEditForm.submitted && titleText.invalid" class="alert alert-danger">
          Title is required!
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="startDate">Start Date - End Date:</label>
        <input
          name="dates"
          type="text"
          placeholder="Select a date range"
          class="form-control"
          bsDaterangepicker
          [bsConfig]="{ isAnimated: true }"
          [(ngModel)]="bsRangeValue"
          required
          #dates="ngModel"
        />
        <div *ngIf="lessonEditForm.submitted && dates.invalid" class="alert alert-danger">
          Dates is required!
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-8">
      <label for="courseSelector">Course: </label>
      <input
        name="courseSelector"
        [(ngModel)]="selectedCourse"
        [typeahead]="allCoursesStringArray"
        class="form-control"
        autocomplete="off"
        #course = "ngModel"
        required
      />
      <div *ngIf="lessonEditForm.submitted && course.invalid" class="alert alert-danger">
        Course is required!
      </div>
      <div *ngIf="lessonEditForm.submitted && course.dirty && !courseExist()" class="alert alert-danger">
        Course does not exist!
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea
          name="description"
          class="form-control"
          rows="5"
          [(ngModel)]="description"
          required
          #descriptionText="ngModel"
        ></textarea>
        <div *ngIf="lessonEditForm.submitted && descriptionText.invalid" class="alert alert-danger">
          Description is required!
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2 pb-3">
      <button class="btn btn-success btn-block" type="submit">
        Save
      </button>
    </div>
    <div class="col-md-2 pb-3">
      <button class="btn btn-danger btn-block" (click)="goBack()">
        Back
      </button>
    </div>
  </div>
</form>
