<div class="bg">
  <div class="pt-5">
    <div class="container bg-light rounded trans mt-5" style="height:200px;">
      <div class="row justify-content-center">
        <div class="col-8 mt-3 text-center">
          <h3>404</h3>
          <hr />
          <h5>Oops. Seems like the page you are looking for is not found.</h5>
          <br>
          <p routerLinkActive = "active">Click <a routerLink="/lms">here</a> to return to home page.</p>
        </div>
      </div>
    </div>
  </div>
</div>
