<div class="container bg-light rounded trans mt-5">
  <div class="row mt-3">
    <div class="col my-3">
      <h3>Lesson Management</h3>
      <hr />
    </div>
  </div>
  <div *ngIf="editing">
    <app-lesson-edit
      (editCanceled)="editing = false"
      (lessonSaved)="onLessonSaved($event)"
      [editLesson]="editLesson"
    ></app-lesson-edit>
  </div>

  <div *ngIf="!editing">
    <div class="row" *ngIf="canCreate">
      <div class="col">
        <button class="btn btn-success" (click)="createNewLesson()">
          Create New Lesson
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div
          class="row justify-content-start"
          *ngIf="currentRole === 'Student' && !loadingCourse"
        >
          <div class="col-sm-3">
            <p>Available lessons for course:</p>
          </div>
          <div class="col-sm-3">
            <h5 class="text-weight-bold text-primary">
              {{ currentCourse.title }}
            </h5>
          </div>
        </div>
        <div class="row justify-content-start" *ngIf="currentRole === 'Tutor'">
          <div class="col-sm-3">
            <p>All lessons you are teaching:</p>
          </div>
        </div>
        <div class="row justify-content-start" *ngIf="currentRole === 'Student' && currentCourse === null">
          <div class="col-sm-6">
            <p>You do not have any course now.</p>
            <br>
            <p>You have to choose your course before lesson selection.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="currentRole === 'Tutor'|| currentCourse !== null">
      <div class="table-responsive table-lesson px-3">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th *ngFor="let head of lessonHeader" scope="col">{{ head }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let lesson of allLessons"
              [ngClass]="hasLesson(lesson) ? 'table-warning' : ''"
            >
              <th scope="row">{{ lesson.title }}</th>
              <td>{{ lesson.startDate }}</td>
              <td>{{ lesson.endDate }}</td>
              <td>
                <div class="row justify-content-start">
                  <div class="col-lg-6">
                    <button
                      type="button"
                      class="btn btn-primary btn-block mx-1 my-1"
                      (click)="showDetails(template, lesson)"
                    >
                      Details
                    </button>
                  </div>
                  <div class="col-lg-6" *ngIf="canAdd && !hasLesson(lesson)">
                    <button
                      type="button"
                      class="btn btn-success btn-block mx-1 my-1"
                      (click)="add(lesson)"
                    >
                      Add
                    </button>
                  </div>
                  <div class="col-lg-6" *ngIf="canEdit">
                    <button
                      type="button"
                      class="btn btn-warning btn-block mx-1 my-1"
                      (click)="edit(lesson)"
                    >
                      Edit
                    </button>
                  </div>
                  <div class="col-lg-6" *ngIf="canRemove && hasLesson(lesson)">
                    <button
                      type="button"
                      class="btn btn-danger btn-block mx-1 my-1"
                      (click)="remove(lesson)"
                    >
                      Remove
                    </button>
                  </div>
                  <div class="col-lg-6" *ngIf="canDelete">
                    <button
                      type="button"
                      class="btn btn-danger btn-block mx-1 my-1"
                      (click)="delete(lesson)"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Details</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ details }}
  </div>
</ng-template>
